$sidebar-bg: #23395d;      
$sidebar-accent: #1a2c48; 
$sidebar-hover: #30507a;   
$sidebar-active: #457ab9; 
$icon-color: #b5c6e0;      
$text-color: #e4ecfa;      
$logout-bg: #223153;       
$logout-hover: #ef4444;    


.sidebar-container {
  height: 100vh;
  background: transparent;
}

.sidebar {
  width: 250px; 
  background: $sidebar-bg;
  color: $text-color;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}

nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-list li {
  padding: 1rem 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 1rem;
  color: $text-color;
  display: flex;
  align-items: center;

  // Iconos generales
  mat-icon {
    margin-right: 15px;
    font-size: 1.2em;
    color: $icon-color;
    transition: color 0.2s;
  }

  // Hover general
  &:hover {
    background: $sidebar-hover;
    color: #fff;
    mat-icon { color: #fff; }
  }

  // Estado Activo
  &.active {
    background: $sidebar-active;
    color: #fff;
    border-left: 4px solid #fff; 
    mat-icon { color: #fff; }
  }
}

// Dropdown
.dropdown-toggle {
  display: flex;
  justify-content: space-between !important; 
  align-items: center;
  

  .label-container {
    display: flex;
    align-items: center;
    gap: 0; 
  }


  .arrow-icon {
    margin-right: 0 !important; 
    font-size: 1.3em;
    transition: transform 0.3s ease; 
    
    &.rotate {
      transform: rotate(180deg); 
    }
  }
}


.active-parent {
  background-color: rgba(0, 0, 0, 0.2) !important;
  color: #fff;
}


.submenu-container {
  background-color: $sidebar-accent; 
  overflow: hidden;
  box-shadow: inset 0 4px 6px -4px rgba(0,0,0,0.3); 
}


.submenu-item {
  padding-left: 3.5rem !important; 
  font-size: 0.9rem !important; 
  border-left: none !important; 
  
  &:hover {
    background-color: rgba(255, 255, 255, 0.05) !important;
  }

  &.active {
    color: #60a5fa !important; 
    background: transparent !important;
    font-weight: bold;
    
    mat-icon { color: #60a5fa !important; }
  }
}

// --- LOGOUT ---
.logout-btn {
  margin: 1.2rem;
  width: calc(100% - 2.4rem);
  background: $logout-bg;
  color: $text-color;
  border-radius: 8px;
  
  &:hover {
    background: $logout-hover;
    color: #fff;
  }
  
  mat-icon {
    margin-right: 8px;
  }
}

// --- Móvil---
@media (max-width: 992px) {
  .sidebar {
    position: fixed;
    z-index: 1000;
    height: 100vh;
    box-shadow: 2px 0 10px rgba(0,0,0,0.3);
  }
}